window.DjbAtm .titlebutton.close
{
  border: 1px outset #666;
  background: #ff8040;
}


window.DjbAtm > grid {
  background: linear-gradient(to top left, #808080 0%, #aaaaaa 100%);

  padding: 1.5em;
}

window.DjbAtm > grid > * {
  margin: 0.5em;
}


window.DjbAtm > grid > label.logo {
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background: #008080;

  font-size: 2em;
  font-family: serif;
  font-weight: bold;
  font-style: italic;
  color: white;
  letter-spacing: 0.333em;
  text-shadow: 0.1em 0.1em 0 black;

  min-height: 3em;
}


window.DjbAtm > grid > separator {
  opacity: 0;
}

window.DjbAtm > grid > separator.vertical {
  min-width: 2em;
}


window.DjbAtm > grid > button {
  border: 0.1em outset #666;
  border-radius: 10%;

  background: linear-gradient(to top left, #aaaaaa 0%, #dbdbdb 100%);
  padding: 0.25em;

  font-family: sans-serif;

  min-width : 6em;
  min-height: 3em;
}

window.DjbAtm > grid > button.number > label,
window.DjbAtm > grid > button.action > label {
  border: 1px inset #555555;
  border-radius: 10%;
}

window.DjbAtm > grid > button.number > label {
  background: linear-gradient(to top left,
    #afafaf   0%,
    #dbdbdb  64%,
    #ececec  82%,
    #dbdbdb 100%
  )
}

window.DjbAtm > grid > button.hotkey > label,
window.DjbAtm > grid > button.number > label {
  font-size: 3em;
}


window.DjbAtm > grid > button.action {
  margin-left: 1.5em;
}

window.DjbAtm > grid > button.action > label {
  font-size: 1.5em;
  color: black;

  text-shadow:
     0px -1px 0 alpha(white, 0.333),
     0px +1px 0 alpha(white, 0.333),
    -1px  0px 0 alpha(white, 0.333),
    +1px  0px 0 alpha(white, 0.333);
}

window.DjbAtm > grid > button.cancel > label {
  background: linear-gradient(to top left, #aa0000 0%, #ec0000 100%);
}

window.DjbAtm > grid > button.clear > label {
  background: linear-gradient(to top left, #aaaa00 0%, #ecec00 100%);
}

window.DjbAtm > grid > button.enter > label {
  background: linear-gradient(to top left, #008900 0%, #00b400 100%);
}


window.DjbAtm > grid > frame.screen > border {
  border: 1em inset #424242;
  border-radius: 0.5em;

  padding: 16px;

  transition: background 2s;
}

window.DjbAtm:not(.on) > grid > frame.screen > border {
  background: linear-gradient(to top left, #181818 50%, #303030 100%);
}

window.DjbAtm.on > grid > frame.screen > border {
  background: linear-gradient(to top left, #102010 50%, #204020 100%);
}

window.DjbAtm.on > grid > frame.screen > :not(border) {
  background: repeating-linear-gradient(to bottom,
    alpha(#121, 0.25) 0px,
    alpha(#121, 0.25) 1px,
    alpha(#242, 0.25) 2px,
    alpha(#242, 0.25) 3px
  );
}


window.DjbAtm > grid > frame.screen > :not(border) > * {
  font-family: monospace;
  font-size: 15px;
  text-shadow: 0 0 2px;

  transition: color 2s;
}

window.DjbAtm:not(.on) > grid > frame.screen {
  color: transparent;
}

window.DjbAtm.on > grid > frame.screen {
  color: #80ff80;
}


@keyframes flicker_screen {
  50% {
    opacity: 0.9;
  }
}

window.DjbAtm.on > grid > frame.screen > :not(border) > * {
  animation-name: flicker_screen;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2, end);
}


window.DjbAtm label.prompt {
  text-decoration: underline;
  margin-bottom: 8px;
}

window.DjbAtm label.entry {
  border: 1px solid alpha(currentcolor, 0.5);
  padding: 2px 4px;
}
